@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --VeryDarkBlue: hsl(233, 47%, 7%);
  --DarkDesaturatedBlue: hsl(244, 38%, 16%);
  --layer: rgba(110, 30, 160, 0.7);
  --SoftViolet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --SlightlyTransparentP: hsla(0, 0%, 100%, 0.75);
  --SlightlyTransparentS: hsla(0, 0%, 100%, 0.6);
}
body{
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--VeryDarkBlue);
}
main{
  height: 782px;
  width: 328px;
  background-color: var(--DarkDesaturatedBlue);
  margin: 88px auto;
  border-radius: 5px;
  overflow: hidden;
}
/*----------------------------seccion 1 -------------------------------*/
.section1{
  width: 100%;
  height: 240px;
  background-image: url(images/image-header-mobile.jpg);
  background-size: cover;
  position: relative;
}

#capa{
  position: absolute;
  top: 0;
  color: white;
  background-color: var(--layer);
  height: 100%;
  width: 100%;
}
/*----------------------------seccion 2 -------------------------------*/
.section2{
  padding: 40px 33px;
}
h1{
  color: var(--White);
  text-align: center;
  font-size: 1.8em;
  height: 115px;
  font-family: 'Inter', sans-serif;
}
span{
  color: var(--SoftViolet);
}
p{
  font-family: 'Inter', sans-serif;
  color: var(--SlightlyTransparentP);
  height: 137px;
  text-align: center;
  font-size: 1em;
  line-height: 25px;
}
.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--SlightlyTransparentS);
  line-height: 25px;
}
.stats-details{
  text-align: center;
}
.amount{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.45em;
  color: var(--White);
}
.concept{
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 33px;
  font-family: 'Inter', sans-serif;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  color: var(--SlightlyTransparentP); 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
footer{
  margin-bottom: 80px;
}
/*---------------------MEDIA QUERIES-----------------*/
@media screen and (min-width: 1200px) {
  main{
    width: 1110px;
    height: 448px;
    display: flex;
    margin: 178px auto;
    flex-direction: row-reverse;
  }
  .section1{
    width: 540px;
    height: 100%; 
    background-image: url(images/image-header-desktop.jpg);
  }
  .section2{
    width: 570px;
    padding: 75px 70px;
  }
  h1{
    font-size: 2.5em;
    text-align: left;
  }
  p{
    text-align: left;
    margin-right: 70px;
  }
  .stats{
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    box-sizing: border-box;
  }
  .stats-details{
    text-align: left;
  }
  .concept{
    margin-bottom: 0px;
  }
}